<nav>
    <ul>
        <li>
            <a href="/">Home (ex002)</a>
        </li>
        <li>
            <a href="/helloworld">Hello World (sem extend do base.html) </a>
        </li>
        <li>
            <a href="/contato">Meu primeiro form Contato</a>
        </li>
        <li>
            <a href="/bianca">Index bia</a>
            <br>
        </li>
        <ul>
            <li>
                <a href="/bianca/ex001">ex001</a>
            </li>
            
            <li>
                <a href="/bianca/ex003">ex003</a>
            </li>
            <li>
                <a href="/bianca/ex004">ex004</a>
            </li>
            <li>
                <a href="/bianca/ex005">ex005</a>
            </li>
        </ul>
            
    </ul>
    
</nav>