<nav>
    <ul>
        <li>
            <a href="/">Home (ex002)</a>
        </li>
        <li>
            <a href="/helloworld">Hello World (sem extend do base.html) </a>
        </li>
        <li>
            <a href="/contato">Meu primeiro form Contato</a>
        </li>
        <li>
            <a href="/bia">Index bianca</a>
            <br>
            <a href="{% url 'bianca:index_bianca' %}">Index Bia com url automatica</a>
        </li>
        <ul>
            <li>
                <a href="/bianca/ex001">ex001</a>
                <a href="{% url 'bianca:ex001' %}">ex001</a>
            </li>
                </ul>
            <li>
                <a href="/bianca/ex003">ex003</a>
            </li>
            
    </ul>
    
</nav>